@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

*{
    margin:0 auto;
    padding:0 auto;
    box-sizing: border-box;
    list-style: none;
}

.text{
    padding:40px;
    font-family: "Constantia", serif;
    font-size:20px;
    color:black;
    border:5px solid;
    border-color: #4700b3;
    padding-right:5px;
    background:rgba(0, 102, 204, 0.5)
}

body{
    position:static;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size:14px;
    line-height:22px;
    color:#555555;
    animation-name: anim;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim{
    from{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }

    to{
        background: rgb(0,31,36);
        background: linear-gradient(90deg, rgba(0,31,36,1) 0%, rgba(9,121,22,1) 35%, rgba(0,212,255,0) 100%);
    }
}

.bold{
    font-weight:700;
    font-size:20px;
    text-transform: uppercase;
}

.semi_bold{
    font-weight:500;
    font-size:16px;
}

.CV{
    position: relative;
    float:right;
    padding-right:10px;
    display:flex;
    margin:50px auto;
}

.CV .CV_Left{
    width:280px;
    background:rgba(0, 102, 204, 0.5);
}

a{
    color:black;
}

.CV .CV_Left .CV_Profile{
    width: 100%;
    height: 280px;
    border: 10px solid;
    border-color:blueviolet;
}

.CV_Profile img{
    width:100%;
    height:100%;
}

.CV .CV_Left .CV_Content{
    border: 5px solid;
    border-color:goldenrod;
    font-family:'Bahnschrift', sans-serif;
}

.CV .text .paragraphs{
    padding-top:10px;
}

.text h2{
    padding-top:7px;
}

#list{
    margin-top:20px;
}

#list ul li{
    list-style-type: circle;
    list-style-position: inside;
}

#footer{
    position: absolute;
    bottom:0;
    width:100%;
    background-color:rgba(128, 128, 128, 0.5);
    color:black;
}

.bottom{
    position: absolute;;
    font-size:90px;
    color:white;
    font-weight: bolder;
    padding-top:650px;
    padding-left:120px;
    -webkit-text-stroke: 6px black;
    font-family: "Candara", sans-serif;
}

.logo img{
    position: relative;
    float:left;
    left:400px;
    width:700px;
    padding-top:100px;
}