@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.text{
    padding:40px;
    font-family: "Constantia", serif;
    font-size:20px;
    color:black;
    border:5px solid;
    border-color: #4700b3;
    padding-right:5px;
}

body{
    background: #9966ff;
    font-size:14px;
    line-height:22px;
    color:#555555;
}

.bold{
    font-weight:700;
    font-size:20px;
    text-transform: uppercase;
}

.semi_bold{
    font-weight:500;
    font-size:16px;
}

.CV{
    width:800px;
    height:auto;
    display:flex;
    margin:50px auto;
}

.CV .CV_Left{
    width:280px;
    background:#ff99ff;
}

.CV .CV_Left .CV_Profile{
    width: 100%;
    height: 280px;
    border: 10px solid;
    border-color:blueviolet;
}

.CV .CV_Left .CV_Profile img{
    width:100%;
    height:100%;
}

.CV .CV_Left .CV_Content{
    padding: 0.25%;
    border: 5px solid;
    border-color:goldenrod;
    font-family:'Bahnschrift', sans-serif;
}

.CV .text .paragraphs{
    padding-top:10px;
}